ion-button {
  --color: white;
  --background: #ff950a;
}
ion-content {
  --background: url(../../assets/wall.jpg) no-repeat center/cover fixed;
}

ion-input{
  --background: white;
  width: 300px;
  --color:#e25c5c;
}
ion-input{
  --padding-bottom: 5px;
}
