<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Navigating to other page and show icon on the button-->
<ion-content>
  <ion-button shape="round" [routerLink]="['/location']">Location<ion-icon name="location-outline"></ion-icon>
  </ion-button>
  <ion-button shape="round" [routerLink]="['/profile']">Profile <ion-icon name="people-outline"></ion-icon>
  </ion-button>
  <ion-button shape="round" [routerLink]="['/recipe']">Recipe<ion-icon name="pizza-outline"></ion-icon>
  </ion-button>
  <br><br>
  <!-- input -->
  <ion-input [(ngModel)]="name" placeholder="Enter your name">
    <ion-icon name="person-circle-outline"></ion-icon>Name:
  </ion-input>
  <br>
  <ion-input [(ngModel)]="phoneNo">
    <ion-icon name="call-outline"></ion-icon>Phone Number:
  </ion-input>
  <br>
  <ion-input [(ngModel)]="email">
    <ion-icon name="mail-outline"></ion-icon>Email:
  </ion-input>
  <br>
  <ion-input [(ngModel)]="food">
    <ion-icon name="fast-food-outline"></ion-icon>Favourite Food:
  </ion-input>

  <ion-button (click)="onSave()">
    Save<ion-icon name="save-outline"></ion-icon>
  </ion-button>


</ion-content>